<h1 mat-dialog-title *ngIf="addMode">Add event</h1>
<h1 mat-dialog-title *ngIf="!addMode">Edit event</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input [(ngModel)]="date" matInput [matDatepicker]="picker" name="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Event title</mat-label>
      <input [(ngModel)]="title" matInput placeholder="Enter title..." name="title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Event notes</mat-label>
      <textarea [(ngModel)]="note" matInput placeholder="Enter event notes..." name="note"></textarea>
    </mat-form-field>
    <mat-form-field  appearance="fill">
      <mat-label>Invite users</mat-label>
      <mat-select [(value)]="invitees" [disabled]="disableDropdown" multiple>
        <mat-option *ngFor="let user of restOfUsers" [value]="user">{{user.username}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>
      <button mat-flat-button color="primary" (click)="onAdd()" *ngIf="addMode">Add</button>
      <button mat-flat-button color="primary" (click)="onEdit()" *ngIf="!addMode">Edit</button>
      <button mat-button color="primary" (click)="onCancelClick()">Cancel</button>
    </p>
  </form>
</div>
